.wp-pagenavi
{
 	height: 25px;
}

.wp-pagenavi a 
{
	margin: 2px;
	text-decoration: none;
	color: #daa522;
	border: 1px solid #D3D3D3;
	padding: 1px 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration: none !important;
}

.wp-pagenavi a:hover {	
	border: 1px solid #15A0CB;
	text-decoration: none !important;
	background-color: #21B6E1;
	color: #FFFFFF !important;
}

.wp-pagenavi span.pages, .wp-pagenavi span.current {
	padding:1px 5px;
	margin: 2px;
	color: #C3B8B2;
	border: 1px solid #D3D3D3;
	background-color: #FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}



.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #D3D3D3;
	color: #000000;
	background-color: #FFFFFF;
}